{
  "mcpServers": [
    {
      "name": "sqlite",
      "command": "uvx",
      "args": ["mcp-server-sqlite", "--db-path", "/tmp/test.db"],
      "env": null
    },
    {
      "name": "weather",
      "command": "uvx",
      "args": ["--from", "mcp-weather-server", "mcp_weather_server"],
      "env": null
    },
    {
      "name": "12306",
      "command": "npx",
      "args": ["-y", "12306-mcp"],
      "env": null
    },
    {
      "name": "search",
      "command": "uvx",
      "args": ["mcp-server-googlesearch"],
      "env": null
    }
  ]
}
